<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.app.Employe" name="empobj">
    
    <property name="empId" value="101"/>
    <property name="details">
    <list>
    <value>A</value>
    <value>A</value>
    <value>B</value>
    <value>C</value>
    </list>
    </property>
    <property name="marks">
    <set><value>A</value>
    <value>A</value>
    <value>B</value>
    <value>C</value></set>
    </property>
    
    </bean>
    

</beans>